* {
    padding: 0;
    margin: 0;
}
.wrap {
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #eee;
}
.left {
    float: left;
    width: 160px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #FFFFFF;
}
.left img {
    width: 90px;
    height: 90px;
    float: left;
}
.left span {
    margin-left: 30px;
    font-weight: 700;
}
.right {
    float: right;
    width: 80px;
    padding: 10px 20px;
    border: 1px solid #999;
    background-color: #FFFFFF;
}
.right img {
    width: 80px;
    height: 80px;
    margin: 10px 0;
}
.mid {
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999;
    padding: 20px;
    background-color: #FFFFFF;
}
.mid h3 {
    line-height: 2em;   
}